<%- include('partials/_header') -%>
<body>
    <%- include('partials/_navigation') -%>
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script type="module"  src="/js/index.js"></script>
</body>
</html>