/*LOGİN*/
#main-layout-pro{
    padding-left:0px !important;
    padding-right:0px !important;
}
#kapsayici {
    background: url()repeat 0px 0px;
    height: 1000px;
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    font-family: 'Raleway', sans-serif;
}
.main {
    padding: 3em 0 0;
    text-align: center;
}
.section h1 {
    padding-top: 100px;
    font-size: 3em;
    text-align: center;
    color: #fff;
    font-weight: 400;
    margin-bottom: 1em;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.kapsam {
    margin: 0 auto;
    background:rgba(0, 0, 0, 0.5);
    max-width: 400px;
    padding: 3em 2em 2em;
    text-align: center;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}
.head {
    position: relative;
    z-index: 1;
}
.login-form h2 {
    font-size: 2em;
    color: white;
    text-align: center;
    margin-bottom: 1.5em;
    line-height: 0.7em;
    letter-spacing: 0px;
}


.login-form input[type="email"],.login-form input[type="text"], .login-form input[type="password"] {
    outline: none;
    font-size: .9em;
    letter-spacing: 1px;
    color: #666;
    padding: 1em 1em;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1em;
    -webkit-appearance: none;
    display: block;
    border: 1px solid #dde0df;
    background: #e4eae7;
    font-family: 'Raleway', sans-serif;
}
.login-form input[type="submit"] {
    font-size: 1em;
    color: #ffffff;
    background: #fd6239;
    border: 1px solid #fd6239;
    outline: none;
    cursor: pointer;
    padding: .8em 1em;
    letter-spacing: 1px;
    -webkit-appearance: none;
    text-transform: uppercase;
    width: 100%;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    font-family: 'Raleway', sans-serif;
}
@media screen and (min-width: 480px) and (max-width:719px){
    #kapsayici{
        margin-top: 100px;
    }
}